
@{
    ViewBag.Title = "Test App";
}

<h2>Test Web Form</h2>

<form action="~/Home/simpleQueryView" method="post">
    First Name:<br />
    <input type="text">
    <br />
    Last Name:<br />
    <input type="text">
    <br />
    <br />
    <input type="submit">
</form>

